<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start mb-3">
            <img class="d-flex me-3 rounded-circle avatar-lg" src="assets/images/users/user-8.jpg" alt="Generic placeholder image">
            <div class="w-100">
                <h4 class="mt-0 mb-1">{{ nombre }}</h4>
                <p class="text-muted">{{ persona?.nombreCorto }}</p>
            </div>
        </div>

        <h5 class="mb-3 mt-4 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle me-1"></i> Personal Information</h5>
        <div class="">
            <h4 class="font-13 text-muted text-uppercase">Tipo de Identificación :</h4>
            <p class="mb-3">
                {{ persona?.tipoDeIdentificacion }} - {{ persona?.numeroDeIdentificacion }}
            </p>

            <h4 class="font-13 text-muted text-uppercase mb-1">Número de Teléfono :</h4>
            <p class="mb-3">{{ persona?.tipoDeTelefono }} - {{ persona?.numeroDeTelefono }}</p>

            <h4 class="font-13 text-muted text-uppercase mb-1">Correo electrónico :</h4>
            <p class="mb-3">{{ persona?.tipoDeCorreoElectronico }} - {{ persona?.correoElectronico }}</p>
        </div>
    </div>
</div> <!-- end card-->
