<div class="card">
    <div class="row">
        <div class="col-md-10">
            <h5 class="card-title mb-0">Números de Teléfono</h5>
        </div>
        <div class="col-md-2 align-self-end">
            <a href="javascript:;" class="action-icon" (click)="addPhone()"><i class="mdi mdi-refresh"></i></a>
            <a data-bs-toggle="collapse" class="action-icon" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
        </div>
    </div>
        <div id="cardCollpase1" class="collapse show">
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <tbody>
                        @for(phone of phones; track $index) {
                            <tr>
                                <td width="50%">
                                    <select id="type-{{ $index }}" class="form-control dropdown-toggle" [(ngModel)]="phone.type" required>
                                        <option value="">Seleccionar tipo</option>
                                        <option value="Móvil">Móvil</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Trabajo">Trabajo</option>
                                    </select>
                                </td>
                                <td width="50%">
                                    <input type="text" id="number-{{ $index }}" class="form-control" [(ngModel)]="phone.number" placeholder="Número de teléfono" required/>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="action-icon" (click)="removePhone($index)"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>