<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="primerNombre" class="form-label">Primer Nombre</label>
                <input type="text" class="form-control" formControlName="primerNombre" placeholder="Ingrese el primer nombre"  required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="segundoNombre" class="form-label">Segundo Nombre</label>
                <input type="text" class="form-control" formControlName="segundoNombre" placeholder="Ingrese el segundo nombre">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="primerApellido" class="form-label">Primer Apellido</label>
                <input type="text" class="form-control" formControlName="primerApellido" placeholder="Ingrese el primer apellido" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="segundoApellido" class="form-label">Segundo Nombre</label>
                <input type="text" class="form-control" formControlName="segundoApellido" placeholder="Ingrese el segundo apellido">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="tipoDeIdentificacion" class="form-label">Tipo de Identificación</label>
                <select formControlName="tipoDeIdentificacion" class="form-control dropdown-toggle" required>
                    <option value="">Seleccionar tipo</option>
                    <option value="1">Cédula de ciudadanía (CC)</option>
                    <option value="2">Tarjeta de extranjería (TE)</option>
                    <option value="3">Cédula de extranjería (CE)</option>
                    <option value="4">Número de identificación tributaria (NIT)</option>
                    <option value="5">Pasaporte (PP)</option>
                    <option value="6">Permiso especial de permanencia (PEP)</option>
                    <option value="7">Documento de identificación extranjero (DIE)</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="numeroDeIdentificacion" class="form-label">Numero de Identificación</label>
                <input type="text" class="form-control" formControlName="numeroDeIdentificacion" placeholder="Ingrese numero de identificación">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="tipoDeCorreoElectronico" class="form-label">Tipo de correo electrónico</label>
                <select formControlName="tipoDeCorreoElectronico" class="form-control dropdown-toggle" required>
                    <option value="">Seleccionar tipo</option>
                    <option value="Personal">Personal</option>
                    <option value="Trabajo">Trabajo</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="correoElectronico" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" formControlName="correoElectronico" placeholder="Ingrese el correo electrónico">
            </div>
        </div>
    </div>

    <app-form-telefono [phones]="phones"></app-form-telefono>
</form>