<form>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Primer Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Enter full name">
        </div>
        <div class="col-md-6">
            <label for="name" class="form-label">Segundo Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Enter full name">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="name" placeholder="Enter full name">
        </div>
        <div class="col-md-6">
            <label for="name" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="name" placeholder="Enter full name">
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    
    <app-form-telefono></app-form-telefono>

    <div class="text-end">
        <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Continue</button>
    </div>
</form>